body {
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
  }
  
  header {
	background-color: #f00094;
	color: #fff;
	padding: 20px;
	text-align: center;
  }
  
  nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  nav li {
	display: inline-block;
	margin-right: 20px;
  }
  
  nav a {
	color: #fff;
	text-decoration: none;
  }
  
  main {
	max-width: 800px;
	margin: 0 auto;
	margin-left: 80px;
  }
  
  h2 {
	font-size: 36px
  }  

  body {
	background-color: rgba(233, 150, 122, 0.486);
  }

  /* main {
	background-color: salmon;
  } */

  footer {
	text-align: center;

  }

